[Unit]
Description=Webhook Handler Service
After=network.target local-fs.target

[Service]
Type=simple
User=root
WorkingDirectory=/mnt/lnmp/webhook/
ExecStart=/mnt/lnmp/webhook/webhook-handler
Restart=always
RestartSec=5s
StandardOutput=file:/mnt/lnmp/webhook/deploy.log
StandardError=inherit
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/root/.nvm/versions/node/v22.15.1/bin"

[Install]
WantedBy=multi-user.target
